{% for i in pl %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        {% load static %}
        <a href="#"><img class="card-img-top" src="{% static 'img' %}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{i.Pname}}</a>
            </h4>
            <h5>{{i.Price}}</h5>
            <p class="card-text">{{i.Description}}</p>
            {% if request.session.userName is none %}
            <a href="#">Add to Cart</a> {% endif %} {% if request.session.userName is not none %}
            <a href="addtocart?pid={{i.id}}">Add to Cart</a> {% endif %}

        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>

</div>{% endfor %}