{% include 'navbar.html' %}
<h1>Show Product List</h1>
<table cellpadding='10' cellspacing='10' border='1'>
    <tr>
        <th>Pname</th>
        <th>Price</th>
        <th>Description</th>
        <th>Cname</th>
    </tr>
    {%for i in p %}
    <tr>
        <td>{{i.Pname}}</td>
        <td> {{i.Price}}</td>
        <td> {{i.Description}}</td>
        <td> {{i.Cname}}</td>
        <td><a href="deleteproduct?id={{i.id}}">Delete</a></td>
        <td><a href="editproduct?id={{i.id}}">Edit</a></td>
    </tr>
    {%endfor%}
</table>{% include 'footer.html' %}